# =========================
# DEPENDENCIES
# =========================
node_modules/
.pnp
.pnp.js

# =========================
# TESTING / COVERAGE
# =========================
coverage/

# =========================
# NEXT / BUILD OUTPUTS
# =========================
.next/
out/
build/
dist/

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# ENV / SECRETS
# =========================
.env
.env.*
!.env.example

# =========================
# VERCEL
# =========================
.vercel/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# =========================
# KEYS / CERTS
# =========================
*.pem
*.key

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo
next-env.d.ts